__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/
build_pkg/
.eggs/
*.spec
*.whl

.wrangler/
node_modules/
.env
.env.*
.dev.vars
.venv/
venv/

/ide/
/openfire/
/worker/
/build_dist.py
/pyproject.toml
